---
import BaseLayout from "./Layout.astro";
import HeaderPage from '../components/custom/header.astro'
import ToolBarPage from '../components/custom/toolBar.astro'
const { frontmatter } = Astro.props;
const logo = '../../public/Union.png'
const title = 'LD Astro 轻应用平台'
---

<BaseLayout title={frontmatter.title}>
  <HeaderPage hidden={frontmatter.header} logo={logo} title={title}/>
  <div id="main">
    <ToolBarPage hidden={frontmatter.toolbar}/>
    <div id="view">
      <slot />
    </div>
  </div>
</BaseLayout>

<style is:inline>
#main{
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
  display: flex;
}
#view{
  width: 100%;
  height: 100%;
}
</style>